@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-brand-50: #F0F6FF;
  --color-brand-100: #E0EDFF;
  --color-brand-200: #C2DAFF;
  --color-brand-300: #8FBCFF;
  --color-brand-400: #4791FF;
  --color-brand-500: #0066FF;
  --color-brand-600: #0056D6;
  --color-brand-700: #0047B3;
  --color-brand-800: #003B94;
  --color-brand-900: #00317A;
  --color-brand-950: #001F4D;
}
